@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
//    border: 1px red solid;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #b7e3ef;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

li, a, button, label, input, textarea{
    font-family: "Montserrat", Georgia;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10%;
    border: #095d72 1px solid;
    border-radius: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10%;
    border-radius: 3vh;
}

.logo{
    cursor: pointer;
    border-radius: 2vh;
    width: 7vw;
    height: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li, footer li{
    display: inline-block;
    padding: 0 2vh;
}

.nav__links li a, footer li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav__links li a:hover, footer li a:hover{
    color: #0088a9;
}

button{
    padding: 1vh 2vh;
    background-color: #095d72;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(9, 93, 114, 0.8);
}

.chosen{
    border: 1px solid #0088a9;
    border-radius: 5vh;
}

footer .footer__logo{
    margin-left: auto;
    margin-right: auto;
}

.footer__logo{
    width: 6vw;
    height: auto;
}

#pg-img{
    width: 6vh;
    height: auto;
}

.contact__form {
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-right: auto;
    margin-left: auto ;
}

.contact__form label {
    display: block;
    margin-bottom: 8px;
}

.contact__form input, .contact__form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}
